/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
    --color-green: #009e47;
    --color-orange: #df4d00;
    --color-purple: #9300da;
    --color-text-grey: #d6d8da;
    --color-background-grey: #9da5b4;
    --color-background-black: #0d1117;
    --header-height: 7rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P";
}

body,
html {
    height: 100vh;
    width: 100vw;
}

img {
    width: 4rem;
}

main {
    display: flex;
    /* width: 100%;      */
/* }

.hide-for-mobile {
    display: none;
} */

/* ==================  RESPONSIVENESS ========================= */

/* @media (max-width: 1537px) {
    
    body {
        font-size: 80%;
    }
} */

/* DESKTOPLÄGE */
/* @media (min-width: 1537px) {
    .hide-for-desktop {
        display: none;
    }
} */

/* LAPTOPLÄGE */
/* 
@media (min-width: 1078px) {
    .hide-for-iPad {
        display: none;
    } */

    /* .show-for-iPad {
        display: inline-block;
    } */

    /* .hide-for-desktop {
        display: inline-block;
    }
} */

/*==== IPADLÄGE===== */

/* @media screen and (min-width: 768px) { */
    /* .hide-for-mobile {
        display:none;
    } */

    /* .show-for-mobile {
        display: inline-block;
    } */

    /* .hide-for-desktop {
        display: inline-block;
    }
     */
/* } */ 