 @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
    --color-green: #009e47;
    --color-orange: #df4d00;
    --color-purple: #9300da;
    --color-text-grey: #d6d8da;
    --color-background-grey: #9da5b4;
    --color-background-dark-grey: #737477;
    --color-background-black: #0d1117;
    --header-height: 4rem;
} 

/* xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    max-height: 100%;
    max-width: 100%;
}

body {
    font-family: "Press Start 2P";
    background-color: var(--color-background-black);
}

main {
    /* display: flex; */
    width: 100%;
    height: calc(100vh - (var(--header-height)));
    /* background-color: palegreen; */
}


@media (min-width: 768px) {
    main {
        height: calc(100vh - ((var(--header-height) * 1.5)));
    }
}
