/* header {
    background-color: var(--color-background-black);
    color: var(--color-text-grey);
    width: 100%;
    height: var(--header-height);
}

.arrow {
    font-size: 2rem;

}
 */


/* @media (max-width: 1537px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 1295px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.8rem;
    }
} */
